@use "../../styles/variables.scss" as *;

.ticket {
  border: solid 2px white;
  border-radius: 0.3rem;
  padding: 1rem;
  background-color: $foreground-color;

  & .ticket__name {
    font-size: $large-font-size;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  & .ticket__role {
    font-size: $regular-font-size;
    font-style: italic;
  }
}
