@use "./variables.scss" as *;

* {
  color: var(--text-color-primary);
}

.app {
  background-color: var(--background-color);
  padding: 1rem;
  height: 100vh;
  overflow-y: auto;
}

h1 {
  font-size: $largest-font-size;
  text-align: center;
}
