// themes
.dark-mode {
  --background-color: #232229;
  --foreground-color: #2b2a33;
  --text-color-secondary: #6c6a7c;
  --text-color-primary: #ffffff;
  --button-color: linear-gradient(180deg, #e1a0a0 0%, #e68181 100%);
  --button-hover: linear-gradient(180deg, #e2c1c1 0%, #d36b6b 100%);
  --opposite-color: #fef6e4;
}

.light-mode {
  --background-color: #f3d2c1;
  --foreground-color: #fef6e4;
  --text-color-secondary: #172c66;
  --text-color-primary: #001858;
  --button-color: linear-gradient(180deg, #e1a0a0 0%, #e68181 100%);
  --button-hover: linear-gradient(180deg, #e2c1c1 0%, #d36b6b 100%);
  --opposite-color: #2b2a33;
}

//font sizes
$largest-font-size: 3rem;
$large-font-size: 2rem;
$regular-font-size: 1rem;

// breakpoints
$mobile-breakpoint: 320px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;
$large-desktop-breakpoint: 1440px;
$extra-large-desktop-breakpoint: 2560px;
